BattleTank/Content/StylizedDesertEnv/Maps/LevelContent/Textures/rocky_and_sandy_ground_Base_Color.uasset filter=lfs diff=lfs merge=lfs -text
BattleTank/Content/StylizedDesertEnv/Maps/LevelContent/Textures/rocky_and_sandy_ground_Normal.uasset filter=lfs diff=lfs merge=lfs -text
